<!-- Sección 1: Maquetación con BEM
1.1. Escribe un HTML básico utilizando la metodología BEM
Crea un bloque llamado card para una tarjeta de perfil que contenga:

● Un encabezado con la clase “card header”

● Una imagen de perfil con la clase “ard image”

● Un texto descriptivo con la clase “card description”

● Un botón con la clase “card button card button primary.” -->

<div class="card">
    <h1 class="card_header">Nombre del Usuario</h1>
    <img src="https://ih1.redbubble.net/image.4639034774.9971/raf,360x360,075,t,fafafa:ca443f4786.jpg" alt="Foto de perfil de usuario" class="card_imagen" />
    <p class="card_description">Descripción del usuario</p>
    <button class="card_button card_button--primary">Llamar</button>
</div>
